@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-global: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #BD1469;
  --color-secondary: #354858;
  --color-placeholder: #C4C4C4;
  --color-itemsBg: #F2F5F8;
  --color-card: #E4ECF4;
  --color-next: #CCC;
}

.hero-section {
    background-image: url('/heroBg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dark .hero-section {
  background-image: url('/darkBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Post Cards Animation */
.posts-grid .card {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.posts-grid .card.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-item .feature-left {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.feature-item .feature-left.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-item .feature-right {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.feature-item .feature-right.visible {
  opacity: 1;
  transform: translateY(0);
}





